{% extends "shop/base1.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans "Your shopping cart" %}
{% endblock %}

{% block content %}



  <!-- BANNER STRAT -->
  <div class="banner inner-banner">
    <div class="container">
      <div class="bread-crumb mtb-60 center-xs">
        <!-- <div class="page-title">All</div> -->
        <div class="bread-crumb-inner right-side float-none-xs">
          <ul>
            <li><a href="#">Checkout</a><i class="fa fa-angle-right"></i></li>
            <li><span>Cart</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- BANNER END -->

<!-- CONTAIN START -->
  <section class="container">
    <div class="pb-85 pt-55">
      <div class="row">
        <div class="col-xs-12 mb-xs-30">
          <div class="cart-item-table commun-table">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>{% trans "Product" %}</th>
                    <th>{% trans "Product Name" %}</th>
                    <th>{% trans "Price" %}</th>
                    <th>{% trans "Quantity" %}</th>
                    <th>{% trans "Sub-Total" %}</th>
                    <th>{% trans "Action" %}</th>
                  </tr>
                </thead>
                <tbody>
                {% for item in cart %}
                    {% with product=item.product %}
                  <tr>
                    <td>
                      <a href="{{ product.get_absolute_url }}">
                        <div class="product-image"><img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}"></div>
                      </a>
                    </td>
                    <td>
                      <div class="product-title">
                        <a href="product-page.html">{{ product.name }}</a>
                      </div>
                    </td>
                    <td>
                      <ul>
                        <li>
                          <div class="base-price price-box">
                            <span class="price">${{ item.price }}</span>
                          </div>
                        </li>
                      </ul>
                    </td>
                    <td>
                      <div class="input-box">
                        <form action="{% url "cart:cart_add" product.id %}" method="post">
                        {{ item.update_quantity_form.quantity }}
                        {{ item.update_quantity_form.update }}
                        <input class="btn btn-black" type="submit" value="Update">
                        {% csrf_token %}
                    </form>
                      </div>
                    </td>

                    <td>
                      <div class="total-price price-box">
                        <span class="price">${{ item.total_price }}</span>
                      </div>
                    </td>
                    <td>
                      <a href="{% url "cart:cart_remove" product.id %}"><i title="Remove Item From Cart" data-id="100" class="fa fa-trash cart-remove-item"></i></a>
                    </td>
                  </tr>
                    {% endwith %}
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-30">
        <div class="row">
          <div class="col-sm-6">
            <div class="mt-30">
              <a href="{% url "shop:product_list" %}" class="btn btn-black"><span><i class="fa fa-angle-left"></i></span>Continue Shopping</a>
            </div>
          </div>
          <div class="col-sm-6">
               <div class="mt-30 right-side float-none-xs">
                    <form action="{% url "coupons:apply" %}" method="post">
                        {{ coupon_apply_form }}
                        <input class="btn btn-black" type="submit" value="{% trans "Apply" %}">
                        {% csrf_token %}
                    </form>

          </div>
        </div>
      </div>
      <hr>
      <div class="mtb-30">
        <div class="row">
          <div class="col-sm-6 mb-xs-40">
            <div class="estimate">
              <div class="heading-part mb-20">
                <h3 class="sub-heading">Estimate shipping and tax</h3>
              </div>
              <form class="full">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="input-box mb-20">
                      <select id="country_id">
                        <option selected="" value="">Select Country</option>
                        <option value="1">US</option>
                        <option value="2">NGR</option>
                        <option value="3">Other</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="input-box mb-20">
                      <select id="state_id">
                        <option selected="" value="1">Select State/Province</option>
                        <option value="2">---</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="input-box mb-20">
                      <select id="city_id">
                        <option selected="" value="1">Select City</option>
                        <option value="2">---</option>
                      </select>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="cart-total-table commun-table">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th colspan="2">Cart Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                     {% if cart.coupon %}
                      <td>Item(s) Subtotal</td>
                      <td>
                        <div class="price-box">
                          <span class="price">${{ cart.get_total_price }}</span>
                        </div>
                      </td>
                    </tr>
                    <tr>
                        {% blocktrans with code=cart.coupon.code discount=cart.coupon.discount %}
                            <td>"{{ code }}" coupon ({{ discount }}% off)</td>
                        {% endblocktrans %}
                      <td>
                        <div class="price-box">
                          <span class="price">- ${{ cart.get_discount|floatformat:"2" }}</span>
                        </div>
                      </td>
                     {% endif %}
                    </tr>
                    <tr>
                      <td>Shipping</td>
                      <td>
                        <div class="price-box">
                          <span class="price">$0.00</span>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td><b>Amount Payable</b></td>
                      <td>
                        <div class="price-box">
                          <span class="price"><b>${{ cart.get_total_price_after_discount|floatformat:"2" }}</b></span>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="mt-30">
        <div class="row">
          <div class="col-xs-12">
            <div class="right-side float-none-xs">
              <a href="{% url "cart:cart_overview" %}" class="btn btn-black">Next<span><i class="fa fa-angle-right"></i></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
   </div>
  </section>
  <!-- CONTAINER END -->



  {% endblock %}

  {% block script %}

  {% endblock %}
